<div class="modal fade" id="modalDetalhes" tabindex="-1" role="dialog"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Detalhes: {{ detalhesPokemon?.name.toUpperCase() }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div>
          <div>
            MACHO:
            <img class="mb-3" [src]="detalhesPokemon?.sprites.front_default" alt="Icone frente" />
            <img class="mb-3" [src]="detalhesPokemon?.sprites.back_default" alt="Icone tras" />
          </div>
          <div *ngIf="detalhesPokemon?.sprites.front_female">
            FÊMEA:
            <img class="mb-3" [src]="detalhesPokemon?.sprites.front_female" alt="Icone frente feminino" />
            <img class="mb-3" [src]="detalhesPokemon?.sprites.back_female" alt="Icone frente feminino" />
          </div>
        </div>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Habilidades:
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul *ngFor="let habilidade of detalhesPokemon?.abilities" class="mb-1">
                  <li>
                    {{ habilidade.ability.name }}
                   </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Movimentos:
                </button>
              </h5>
            </div>
        
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul *ngFor="let movimentos of detalhesPokemon?.moves" class="mb-1">
                  <li>
                    {{ movimentos.move.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>

</div>